<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../stylesheets/loginstyle.css">
    <link rel="stylesheet" href="../stylesheets/navigation.css">
</head>
<body>
    <div id="parent">
      <div class="mobile-menu">
        <div class="close-menu"><img src="../images/close.png" alt=""></div>
        <a href="/publish"><h3>PUBLISH</h3></a>
        <a href="/recipies"><h3>ALL RECIPIES</h3></a>
          <a href="/saved_recipies"><h3>SAVED RECIPIES</h3></a>
          <% if (loggedIn) { %>
            <a href="/logout"><h3 class="m-spc">LOGOUT</h3></a>
          <% } else { %>
            <a href="/loginform"><h3 class="m-spc">LOGIN</h3></a>
          <% } %>
      </div>
      <nav>
        <a href="/"><img src="../images/logo.png" alt=""></a>
        <div class="navbar-btns">
          <a href="/publish"><h3>PUBLISH</h3></a>
          <a href="/recipies"><h3>ALL RECIPIES</h3></a>
          <a href="/saved_recipies"><h3>SAVED RECIPIES</h3></a>
          <% if (loggedIn) { %>
            <a href="/logout"><h3 class="spc">LOGOUT</h3></a>
          <% } else { %>
            <a href="/loginform"><h3 class="spc">LOGIN</h3></a>
          <% } %>
          <img id="menu" src="../images/menu.png" alt="">
        </div>
      </nav>
        <div class="content">
            <div class="login-box">
                <div class="title">LOGIN</div>
                <div class="form">
                    <form action="/login" method="post">
                        <input name="username" type="email" placeholder="EMAIL">
                        <input name="password" type="password" placeholder="PASSWORD">
                        <input id="submit" type="submit" placeholder="LOGIN">
                    </form>
                </div>
                <p>Don't have an Account? <a id="register" href="/registerform"> REGISTER</a></p>
            </div>
        </div>
        </div>
        <script src="../javascripts/main.js"></script>
</body>
</html>